In [ ]:
import pandas as pd

table = pd.read_csv("/content/HillClimbing", header=6)
table = table.drop(labels=['[run number]','[step]'], axis=1)
table

     Num-climbers  num-states  alt_max_alcancada  alt_max_possivel  sucesso
0               2          12           3.679203          5.009892        0
1               2          11           3.661851          4.887836        0
2               2          13           3.741601          4.718726        0
3               2          16           2.969643          4.659184        0
4               2          12           5.356934          5.356934        1
..            ...         ...                ...               ...      ...
795            15         100           3.819092          4.570692        0
796            15         171           4.657402          4.657402        1
797            15         125           4.931445          4.931445        1
798            15         148           4.968618          4.968618        1
799            15         161           4.690965          4.690965        1

[800 rows x 5 columns]

In [ ]:
table[table['Num-climbers']==2].mean()
# 12% de sucesso

Num-climbers          2.000000
num-states           15.800000
alt_max_alcancada     3.398761
alt_max_possivel      4.800842
sucesso               0.120000
dtype: float64

In [ ]:
table[table['Num-climbers']==5].mean()
# 31% de sucesso

Num-climbers          5.000000
num-states           38.600000
alt_max_alcancada     4.062770
alt_max_possivel      4.783872
sucesso               0.315000
dtype: float64

In [ ]:
table[table['Num-climbers']==10].mean()
# 46% de sucesso

Num-climbers         10.000000
num-states           78.190000
alt_max_alcancada     4.383495
alt_max_possivel      4.835679
sucesso               0.465000
dtype: float64

In [ ]:
table[table['Num-climbers']==15].mean()
# 59% de sucesso! mas acessou em média mais estados

Num-climbers          15.000000
num-states           116.290000
alt_max_alcancada      4.559945
alt_max_possivel       4.847101
sucesso                0.590000
dtype: float64

# Conclusão

Quanto mais agentes, maiores são as chances de que a solução encontrada seja a solução ótima. Em contrapartida, devido a quantidade de agentes, é visto também que cada vez mais estados são acessados no espaço.